* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #424242;
  margin: 50px;
  scroll-behavior: smooth;
}

/* Slider */
.slider {
  position: relative;
  width: 100%;
  max-width: 800px;
  overflow: hidden;
}

.slider .images {
  display: flex;
  transition: transform 0.7s ease;
  width: 100%;
}

.slider .images img {
  width: 100%;
  border-radius: 15px;
  transition: filter 0.3s ease;
}

.slider .images img:hover {
  filter: brightness(80%);
}

/* Dots */
.dots {
  position: absolute;
  top: 6%;
  left: 50%;
  font-size: 7rem;
  display: flex;
  transform: translateX(-50%);
}

.dots .active {
  background-color: #fff !important;
}

.dots .dot {
  height: 10px;
  width: 10px;
  margin: 0 5px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

/* Buttons */
.slider button {
  padding: 10px 30px;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  transition: transform 0.5s ease;
  margin: 5px;
}

.btn1 {
  background-color: #3CAB90;
  color: #fff;
}

.btn2 {
  background-color: #FFBB1C;
  color: #2A3334;
}

.slider .btn1:hover, .slider .btn2:hover {
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Responsive */
@media (max-width: 768px) {
  .slider {
    max-width: 100%;
  }
}
